<h1>Admin#showmap</h1>
<p>Find me in app/views/admin/showmap.html.erb</p>


<div class="col-md-6">
    <div id="map">
      <div id="map-canvas"></div>
    </div>
</div>

<script>
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers([
        {
          "lat": <%= @user.latitude %>,
          "lng": <%= @user.longitude %>,
          "infowindow": "text",
        }
      ]);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
      handler.setMapTypeId(google.maps.MapTypeId.SATELLITE);
});
</script>