<div class="container-fluid">

    <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="digg_pagination">
    		    <% if user_signed_in? %>
  		        <%= link_to searches_path :search_domain => "Stellenanzeigen", :controller_name => controller_name do %>
  		          <i class="btn btn-primary btn-xs glyphicon glyphicon-filter"></i>
  		        <% end %>
    		    <% end %>
            <%= will_paginate @jobs, :container => false, previous_label: "<", next_label: ">" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
      <%= header("Stellenanzeigen " + "<span class='badge'>" + @jobanz.to_s + "</span>") %>
  </div>

  <%= build_medialist("col-sm-6 col-md-4 col-lg-3", @jobs, "jobs", true) %>
  
</div>