<div class="container-fluid">
	<div class="row">
    <div class="col-md-12">
        
<h1>New User</h1>

<%= render 'form' %>

<ul class="nav nav-pills">
  <li class="active">
      <%= link_to @user do %>
        <i class="glyphicon glyphicon-info-sign"></i> Show
      <% end %>
   </li>
  <li>
      <%= link_to users_path do %>
        <i class="glyphicon glyphicon-list"></i> List
      <% end %>
   </li>
</ul>


</div>
</div>
</div>