<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="panel-group" id="panel01">
        <div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title" data-toggle="collapse" data-parent="#panel01" href="#element01" >Customers already using ProMIS...</a>
					</div>
					<div id="element01" class="panel-collapse collapse">
						<div class="panel-body">
						  <% @companies = Company.all %>
              <% if @companies != nil %>
                <% @companies.each do |c| %>
                  <% if !c.avatar_file_name %>
                    <%= image_tag("p_anonym.png", :size => "50x50") %>
                  <% else %>
                    <%= image_tag c.avatar(:small) %>
                  <% end %>
                <% end %>
              <% end %>
						</div>
					</div>
				</div>
			</div>
    </div>
  </div>
</div>