<div class="container-fluid">
	<div class="row">
    <div class="col-md-12">

      <%= javascript_include_tag 'dashing/application' %>
      <%= stylesheet_link_tag 'dashing/application' %>
      
      <div class="gridster">
        <ul>
          <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="show_companies" data-view="Number" data-title="myCompanies" data-prefix="#"></div>
          </li>
          <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="show_workorders" data-view="Number" data-title="myWorkorders" data-prefix="#"></div>
          </li>
          <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="show_acc_workorders" data-view="Number" data-title="Workorders accessible" data-prefix="#"></div>
          </li>
          <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
            <div data-id="hours_reported" data-view="Number" data-title="Hours reported this month" data-prefix="h"></div>
          </li>
          <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
           <div data-id="chargeability_p" data-view="Meter" data-title="Chargeability planned" data-min="0" data-max="100"></div>
          </li>
          <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
           <div data-id="chargeability_r" data-view="Meter" data-title="Chargeability reported" data-min="0" data-max="100"></div>
          </li>
          <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
           <div data-id="chargeability_r_m" data-view="Meter" data-title="Chargeability reported (DtM)" data-min="0" data-max="100"></div>
          </li>

        </ul>
      </div>
    </div>
  </div>

</div>
