<div class="container-fluid">

  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-1" href="#xTG"><h2><b>xTG</b> - das Thurgauer KMU Portal</h2></a>
    	<div id="xTG" class="panel-collapse collapse">
            dsjhgfjdhg jdfhgjdfhgjdfhgjdfhj
    	</div>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-6">
      <div class="panel-heading header">
        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-1" href="#uns"><h2>über uns</h2></a>
    	<div id="uns" class="panel-collapse collapse">
Unser Angebot

newhome.ch bietet Ihnen alles, was Sie von einem führenden Immobilien-Marktplatz erwarten. Das gesamte Basisangebot ist kostenlos. Und mit einer sinnvollen Auswahl zusätzlicher Services erhalten Inserenten ideale Voraussetzungen, um ihre Objekte noch wirkungsvoller anzubieten. Das macht newhome.ch sowohl für Anbieter, als auch für Suchende zu einem der meistbeachteten Immobilienportale der Schweiz.    	</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel-heading header">
        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-1" href="#biz"><h2>Geschäftsbedingungen</h2></a>
    	<div id="biz" class="panel-collapse collapse">
            Allgemeine Geschäftsbedingungen

Anwendbarkeit und rechtliche Informationen
Immaterialgüterrechte
Kein Angebot
Gewährleistung
Haftungsausschluss
Auswertung von Daten
Links zu und von anderen Webseiten
Cookies
Schlussbestimmungen
 

1.  Anwendbarkeit und rechtliche Informationen

Die Gesellschaft newhome.ch AG (nachfolgend newhome) repräsentiert eine Kooperation zwischen Kantonalbanken mit dem Ziel des Betriebs und der Weiterentwicklung der Immobilienplattform newhome.ch. Auf dieser Plattform bieten Inserenten Angebote an und nach diesen Inseraten können Nutzer suchen. Diese Plattform ist der Öffentlichkeit zugänglich und optimiert den Wissenstransfer unter den Nutzern. Für die der Plattform ebenfalls angeschlossenen Kantonalbanken (siehe Impressum) verbessert diese die Markttransparenz und baut das Dienstleistungsangebot dieser Banken im Immobilienbereich aus. Der Nutzer kann bei der Registrierung frei auswählen, welche Kantonalbank für ihn zuständig sein soll.

Die nachfolgenden Allgemeinen Geschäftsbedingungen (AGB) regeln die rechtlichen Beziehungen zwischen dem Nutzer der Plattform sowie newhome. Sie gelten für jede Art von Nutzung dieser Plattform. Sämtliche Angaben erfolgen ohne Gewähr.

Die vorliegenden AGB werden ergänzt durch die ‚Insertions- und Nutzungsrichtlinien‘. In einem allfälligen Widerspruchsfall gehen die AGB den ‚Insertions- und Nutzungsrichtlinien‘ vor. Zudem wird an dieser Stelle auch auf das bestehende Impressum der Webseite verwiesen.

Für die ebenfalls den Nutzern zur Verfügung stehenden kostenpflichtigen Services von newhome.ch wird zudem auf die diesbezüglich separat bestehenden, diese AGB ebenfalls ergänzenden ‚Richtlinien für kostenpflichtige Services‘ verwiesen. In einem allfälligen Widerspruchsfall gehen die AGB den ‚Richtlinien für kostenpflichtige Services‘ vor.

Ebenfalls ergänzend zu den AGB sind die ‚Datenschutzbestimmungen‘. Diese bezwecken den Schutz der Persönlichkeit und der Grundrechte jener Personen, die auf der Plattform newhome.ch Daten jeglicher Art hinterlegen. Mit diesen AGB akzeptiert der Nutzer die dazugehörigen ‚Datenschutzbestimmungen‘. Die ‚Datenschutzbestimmungen‘ und newhome unterstehen dem schweizerischen Bundesgesetz über den Datenschutz (DSG).

Auf diese AGB ist der Nutzer bereits bei seiner Registration auf dem Bildschirm deutlich und somit rechtsgenüglich hingewiesen worden. Mit der Abgabe seiner Willenserklärung (seines Akzepts derselbigen) durch das Anklicken des entsprechenden Icons (was durch ein erscheinendes Häkchen bestätigt wird) werden diese AGB explizit Vertragsbestandteil.

Die AGB sind insbesondere auch auf der Plattform newhome.ch unter dem Menüpunkt „Rechtliches“ einsehbar und können vom Nutzer als PDF-Format auf die eigene IT-Anlage heruntergeladen werden.

Definitionen:

Nutzer:	Als Nutzer werden sämtliche natürliche und juristische Personen verstanden, welche Dienstleistungen von newhome auf der Plattform newhome.ch in Anspruch nehmen, insbesondere Inserenten und Suchende.
 
Inserat:    	Als Inserat wird eine eigenverantwortlich ausgestaltete Darstellung eines Immobilienangebots zum Zwecke der Publikation verstanden.
 
Inserent:	Als Inserent werden sämtliche Nutzer verstanden, welche auf newhome.ch ein Objekt zum Zweck Verkauf oder Vermietung publizieren.
 
Interessent:	Als Interessent werden sämtliche (nicht) angemeldete Nutzer verstanden, welche auf newhome.ch ein Objekt suchen zum Zweck Kaufen oder Mieten.
 
Kostenpflichtige Services:            	newhome.ch bietet über das unentgeltliche Basis-Angebot hinaus auch kostenpflichtige Zusatzdienstleistungen an, welche als kostenpflichtige Services bezeichnet werden.
 
2. Immaterialgüterrechte

Sämtliche Rechte an den Informationen, Elementen und Inhalten der Plattform gehören newhome (insbesondere Urheber- und Markenrechte) bzw. es bestehen durch Dritte zugunsten newhome hierfür eingeräumte Nutzungsrechte. newhome.ch ist somit insbesondere nicht Inhaberin sämtlicher Marken, die in den auf ihrer Webseite enthaltenen Informationen, Dokumenten und Angaben erwähnt werden. Diesbezüglich gelten unter Umständen die Markenrechte der betreffenden Dritten.

newhome.ch sowie die entsprechenden Logos sind eingetragene Marken von newhome. Kein Bestandteil von newhome.ch ist so konzipiert, dass dadurch dem Nutzer eine Lizenz oder ein Recht zur Nutzung eines Bildes, einer eingetragenen Marke oder eines Logos eingeräumt wird. Durch ein Herunterladen oder ein Kopieren von newhome.ch werden dem Nutzer keinerlei Rechte bezüglich der Software oder von Elementen auf der Website übertragen. newhome behält sich sämtliche Rechte (insbesondere Urheber- und Markenrechte) hinsichtlich aller Elemente auf newhome.ch vor und wird sämtliche Möglichkeiten zur Durchsetzung dieser Rechte vollumfänglich wahrnehmen.

3. Kein Angebot

Die auf newhome.ch publizierten Informationen begründen weder eine Aufforderung zur Offertstellung noch ein Angebot oder eine Empfehlung zur Miete, zum Erwerb oder Verkauf, zur Finanzierung bzw. Versicherung von Immobilien oder anderen Anlageinstrumenten bzw. zur Tätigung sonstiger Transaktionen. Eine zwischenzeitliche Vermietung bzw. ein zwischenzeitlicher Verkauf von angezeigten Objekten wird zudem vorbehalten.

newhome.ch ist nicht für Nutzer bestimmt, die einer Gesetzgebung unterstehen, welche die Publikation auf bzw. den Zugang zu newhome.ch (aufgrund der Nationalität der betreffenden Person, ihres Wohnsitzes oder aus anderen Gründen) verbietet. Nutzern, auf die solche Einschränkungen zutreffen, ist der Zugriff auf newhome.ch nicht gestattet.

4. Gewährleistung

newhome übernimmt insbesondere keinerlei Verantwortung für den Inhalt der bei ihr geschalteten Inserate. Hierunter fallen insbesondere auch die entsprechenden Bilddaten, Stadtplanausschnitte, Finanzierungsvorschläge, Versicherungsangebote, etc. newhome ist nicht verpflichtet, die Inserate und die auf der Plattform veröffentlichten Informationen auf ihre Richtigkeit zu prüfen.

Sämtliche Informationen, mit Ausnahmen von Personendaten (siehe Datenschutzerklärung) auf newhome.ch können jederzeit ohne Ankündigung geändert werden.

newhome übernimmt ausserdem keine Verantwortung und gibt keine Garantie dafür ab, dass:

die Funktionen auf newhome.ch nicht unterbrochen werden oder fehlerlos sind,
Fehler behoben werden oder
Software oder anderes Material, welches über newhome.ch (inkl. Partner- und Microsites) zugänglich ist, oder der jeweilige Server frei von Viren oder schädlichen Bestandteilen ist.
5. Haftungsausschluss

newhome lehnt jegliche Haftung im Zusammenhang mit der Publikation bereits verkaufter oder vermieteter Objekte ab.

Jegliche Haftung von newhome für Schäden oder Folgeschäden, die sich aus dem Zugriff auf die Elemente von newhome.ch oder deren Benutzung ergeben, ist ausgeschlossen, soweit dies gesetzlich zulässig ist.

6. Auswertung von Daten

Die Daten, welche ein registrierter oder nicht registrierter Interessent mittels des Kontaktformulars eines Inserates übermittelt, werden von newhome direkt an den jeweiligen Inserenten weitergegeben. newhome behält sich aber das Recht vor, Daten der Nutzereingaben zu speichern und auszuwerten und diese Daten auch an die ihr angeschlossenen Kantonalbanken weiterzugeben.

Diese Daten werden zur Erbringung der Dienstleistungen von newhome sowie deren Verbesserung eingesetzt und können bei den jeweiligen, vom registrierten Nutzer zuständig erklärte Kantonalbank, zur kommerziellen Nutzung eingesetzt werden. Im Rahmen dieser kommerziellen Nutzung ist es, an die vom registrierten Nutzer für sich zuständig erklärte Kantonalbank erlaubt, den jeweiligen Interessenten zu kontaktieren.

Für weitere Details im Bereich des Datenschutzes wird auf die separate Datenschutzerklärung verwiesen. Indem der Nutzer sich registriert, erteilt er newhome ausdrücklich das Recht zur Bearbeitung seiner Daten im Rahmen dieser Datenschutzbestimmung.

7. Links zu und von anderen Webseiten

newhome hat die mit der newhome.ch-Plattform verlinkten Webseiten nicht überprüft und ist nicht verantwortlich für den Inhalt dieser externen Seiten oder anderer Webseiten, die mit newhome.ch verlinkt sind. Das Herstellen von Verbindungen zu externen Seiten oder anderen Webseiten erfolgt auf eigenes Risiko. Solche externen Internet-Adressen enthalten Informationen, die von Organisationen und Personen, die von newhome rechtlich unabhängig sind, geschaffen, veröffentlicht, unterhalten oder anderweitig zur Verfügung gestellt werden. newhome ist weder für den Inhalt dieser Webseiten verantwortlich, noch billigt, unterstützt oder bestätigt sie Informationen, die auf externen Seiten oder darin aufgeführten gelinkten Adressen enthalten sind.

Webseiten Dritter, die über Links aus Immobilien-Inseraten von newhome.ch erreicht werden, und Webseiten Dritter, die Links auf newhome.ch anbieten, sind dem Einfluss von newhome vollständig entzogen, weshalb newhome für Richtigkeit, Vollständigkeit und Rechtmässigkeit des Inhalts solcher Webseiten sowie für allfällige darauf enthaltene Angebote und (Dienst-)Leistungen keinerlei Verantwortung übernimmt. Das Herstellen von Verbindungen zu diesen Webseiten erfolgt auf eigenes Risiko. Zudem ist für die Aufschaltung von Links, die von Webseiten Dritter auf newhome.ch führen, stets vorgängig eine Bewilligung von newhome einzuholen.

Auf newhome.ch sind kleine Softwareprogramme (sog. Plug-ins) verschiedenster Anbieter von Social Media Plattformen (wie bspw. Facebook) eingebunden. Diese Plug-ins ermöglichen es den Nutzern, Inhalte in sozialen Netzwerken zu teilen. Erscheint ein Plug-in beim Surfen auf der Website (wie bspw. der „gefällt mir“-Knopf von Facebook), wird automatisch eine Verbindung zu den Servern jener Website hergestellt. Somit können Daten von newhome.ch an diesen Drittanbieter übermittelt werden. Ist der Nutzer gleichzeitig im Netzwerk dieses Drittanbieters angemeldet, kann der Besuch auf der Webseite seines Netzwerkkontos zugeordnet werden. Hierauf hat newhome keinerlei Einfluss.

8. Cookies

Für die Optimierung der Webseite und zur Ermittlung der Seitenaufrufe werden Cookies eingesetzt. Diese Cookies sind völlig anonymisiert und enthalten keine Daten zur Person des Nutzers. Cookies werden auch dazu verwendet, um dem Nutzer Inhalte und Werbung entsprechend seiner Interessen anzuzeigen.

Für weitere Details im Bereich des Datenschutzes wird auf die separate Datenschutzerklärung verwiesen.

9. Schlussbestimmungen

newhome behält sich vor, das Onlineangebot jederzeit und ohne Angabe von Gründen zu ändern (insbesondere auch Inserate zu löschen), in eine andere Form/Kooperation zu überführen oder den Betrieb von newhome.ch teilweise bzw. ganz einzustellen. Das Einverständnis des registrierten Nutzers ist hierfür nicht erforderlich, auch besteht keine diesbezügliche vorgängige Informationspflicht. Es besteht folglich kein Anspruch des Nutzers auf bestimmte Funktionalitäten oder auf den Dienst überhaupt zurückgreifen zu können. Die Webseite kann insbesondere wegen Wartungsarbeiten oder anderen Gründen zeitweise nicht oder nur beschränkt zur Verfügung stehen.

Die vorliegenden AGB können von newhome jederzeit geändert werden.

Sollten einzelne Bestimmungen dieser AGB ganz oder teilweise nichtig und/oder unwirksam sein, bleibt die Gültigkeit und/oder Wirksamkeit der übrigen Bestimmungen oder Teile solcher Bestimmungen unberührt. Die ungültigen und/oder unwirksamen Bestimmungen werden durch solche ersetzt, die dem Sinn und Zweck der ungültigen und/oder unwirksamen Bestimmungen in rechtswirksamer Weise wirtschaftlich am nächsten kommt. Das gleiche gilt bei eventuellen Lücken.

Auf diese AGB anwendbar ist schweizerisches Recht.

Der Gerichtsstand richtet sich nach den zwingenden gesetzlichen Bestimmungen. Soweit solche nicht zur Anwendung kommen, ist ausschliesslicher Gerichtsstand für alle Verfahrensarten der Sitz von newhome.

newhome hat indessen auch das Recht, den Inserenten beim zuständigen Gericht bzw. bei der zuständigen Behörde seines Wohnsitzes/Sitzes oder bei jedem anderen zuständigen Gericht zu belangen.

Copyright by newhome.

Allgemeine Geschäftsbedingungen vom 16. Oktober 2014
    	</div>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-6">
      <div class="panel-heading header">
        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-1" href="#legal"><h2>Rechtliches</h2></a>
    	<div id="legal" class="panel-collapse collapse">
            dsjhgfjdhg jdfhgjdfhgjdfhgjdfhj
    	</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel-heading header">
        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-1" href="#imp"><h2>Impressum</h2></a>
    	<div id="imp" class="panel-collapse collapse">
            Impressum

Die Gesellschaft newhome.ch AG als Betreiberin der Immobilienplattform www.newhome.ch repräsentiert eine Kooperation zwischen 17 Kantonalbanken.
 
Die Aktionäre der newhome.ch AG sind folgende 17 Kantonalbanken:

Aargauische Kantonalbank
Appenzeller Kantonalbank
Banque Cantonale Vaudoise
Basellandschaftliche Kantonalbank
Berner Kantonalbank
Glarner Kantonalbank
Graubündner Kantonalbank
Luzerner Kantonalbank AG
Nidwaldner Kantonalbank
Obwaldner Kantonalbank
Schaffhauser Kantonalbank
Schwyzer Kantonalbank
St.Galler Kantonalbank AG
Thurgauer Kantonalbank
Urner Kantonalbank
Walliser Kantonalbank
Zuger Kantonalbank
Die newhome.ch AG setzt sich zum Ziel, den Wissenstransfer unter den Nutzern dieses Immobilienmarktplatzes zu optimieren.

Adresse:
newhome.ch AG, Stauffacherstrasse 45, 8004 Zürich

Telefon:
+41 44 240 11 60

E-Mail:
info@newhome.ch

MwSt-Nummer:
CHE-475.444.593 MWST

Rechtsform:
Aktiengesellschaft (newhome.ch AG, Firmennummer 320.2.071.819-8)

Für Hinweise, Fehlermeldungen und allgemeine Fragen verwenden Sie bitte unser Kontaktformular.
    	</div>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-6">
      <div class="panel-heading header">
        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-1" href="#sec"><h2>Sicherheit</h2></a>
    	<div id="sec" class="panel-collapse collapse">
Sicherheit auf newhome.ch

Inserenten unserer und anderer Immobilien-Plattformen berichten, dass sie in letzter Zeit vermehrt von verdächtigen Personen aus dem Ausland kontaktiert wurden. Die angeblichen Kaufinteressenten dürften Betrüger sein, weshalb wir dringend davon abraten, auf solche Anfragen zu reagieren.

Tipps für Suchende

Verhalten Sie sich bei äusserst attraktiven Angeboten vorsichtig. Wenn Sie nicht sicher sind, ob es sich beim Angebot um ein betrügerisches Inserat handelt, beachten Sie folgende Hinweise:

Überweisen Sie nie Geld, bevor Sie eine Immobilie persönlich besichtigt haben und die entsprechenden Verträge rechtsgültig unterzeichnet sind.
Machen Sie keine Vorauszahlungen (z.B: via Western Union oder MoneyGram).
Überprüfen Sie die Kontaktangaben. Namen und Adressen stimmen oft nicht überein. Über Suchmaschinen können Sie nach Verkäuferpseudonym, Firmennamen, Personennamen suchen.
Informieren Sie sich vor der Kauf-/Miet-Abwicklung genau über den Zustand des Objekts.
Vermeiden Sie die Benutzung von 0900-Nummern und SMS-Diensten.
Tipps für Inserenten

Werden Sie von jemandem kontaktiert, der einige oder mehrere der unten genannten Punkte erfüllt, dann lassen Sie sich nicht auf diese Person ein, bzw. stellen Sie jeglichen Kontakt ein. Wenn ...

Sie als Verkäufer Bargeld (Provision, Vermittlungsgebühren etc.) entrichten sollen;
das Geschäft in Bargeld abgewickelt werden soll;
die versprochenen Gewinne übermässig sind;
für die Geldübergabe Treffpunkte in öffentlichen Lokalen, vorzugsweise im Ausland, vorgeschlagen werden;
im letzten Moment Zeit und Ort des Treffens geändert werden;
der Kaufpreis ohne Besichtigung oder Prüfung des Objekts akzeptiert wird;
neben dem eigentlichen Geschäft andere Geschäfte, insbesondere Geldwechselgeschäfte, getätigt werden sollen.
Akzeptieren Sie als Verkäufer keine Scheckzahlungen. Diese könnten nicht gedeckt sein!

Betrügerische Inserate melden

Haben Sie den Verdacht, dass es sich bei einem Inserat auf newhome.ch um ein missbräuchlich erfasstes Angebot handelt, dann teilen Sie uns dies unter Angabe der Gründe mit.     	</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel-heading header">
        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-1" href="#con"><h2>Partner</h2></a>
    	<div id="con" class="panel-collapse collapse">
Partner werden

newhome.ch bietet Immobilienhändlern, Gemeinden oder Verbänden die Möglichkeit, Immobilien-Inserate in den eigenen Internetauftritt einzubinden. Dieses kostenlose Angebot stellen wir in zwei Varianten zur Verfügung:

Partnerschaft für Gemeinden

Möchten Sie einen regionalen Auszug aus newhome.ch auf Ihrer Gemeinde-Website anzeigen? Kein Problem! Als Partner von newhome.ch stehen Ihnen hier viele Möglichkeiten offen:

Verschiedene Darstellungsformen / Listentypen zur freien Auswahl
kostenlose Anpassung der Farben an das Webdesign Ihrer Website
freie Definition der Region, aus der die Immobilien-Angebote angezeigt werden können
auf Wunsch kostenlose Erstellung einer eigenen Microsite mit den Immobilien-Angeboten aus dem definierten Gebiet
Partnerschaft für professionelle Inserenten

Mit newhome.ch können Sie Ihre Immobilien-Inserate in Ihre Webseite einbinden. Wir bieten Ihnen auch die Möglichkeit, eine separate Microsite (Mini-Website) zu nutzen, in der Sie Ihre Immobilien-Angebote ebenfalls professionell anbieten können. Mit beiden Varianten können Sie von zahlreichen Vorteilen profitieren:

Verschiedene Darstellungsformen / Listen
Möglichkeit zur Präsentation von Inseraten aus verschiedenen Portefeuilles
individuelle Styleanpassungen sind im Service Business Plus integriert
Jetzt Partner werden

Bitte kontaktieren Sie uns via Kontaktformular, wenn Sie mehr über die Möglichkeiten einer Partnerschaft mit newhome.ch erfahren möchten.
    	</div>
      </div>
    </div>
  </div>
  <br>
</div>