<div class="container-fluid">
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-12">
          <anzeigetext>
          xConnect - DAS regionale Portal<br>
          </anzeigetext>
        </div>
      </div>
      <br>
    </div>
</div>