<div class="container-fluid">
  
  <div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-1" href="#xTG"><h2><b>xTG</b> - das Thurgauer KMU Portal</h2></a>
    	<div id="xTG" class="panel-collapse collapse">
            dsjhgfjdhg jdfhgjdfhgjdfhgjdfhj
    	</div>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-6">
      <div class="panel-heading header">
        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-1" href="#uns"><h2>über uns</h2></a>
    	<div id="uns" class="panel-collapse collapse">
Unser Angebot

xTG.ch bietet Ihnen alles, was Sie von einem führenden Marktplatz erwarten. Das gesamte Basisangebot ist kostenlos; einzelne Services können gegen geringe Gebühr hinzugebucht werdeb. 
      </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel-heading header">
        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-1" href="#biz"><h2>Geschäftsbedingungen</h2></a>
    	<div id="biz" class="panel-collapse collapse">
            Allgemeine Geschäftsbedingungen

1.  Anwendbarkeit und rechtliche Informationen

Die Gesellschaft xTG repräsentiert eine Kooperation zwischen xxx mit dem Ziel des Betriebs und der Weiterentwicklung des Marktplatzes xTG. Auf dieser Plattform können Privat- & Firmenkunden Ihre Angebote präsentieren. Ziel ist die Schaffung von Markttransparenz bzgl. des Dienstleistungsangebots in dieser Region. 

Die nachfolgenden Allgemeinen Geschäftsbedingungen (AGB) regeln die rechtlichen Beziehungen zwischen dem Nutzer der Plattform. Sie gelten für jede Art von Nutzung dieser Plattform. Sämtliche Angaben erfolgen ohne Gewähr.

    	</div>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-6">
      <div class="panel-heading header">
        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-1" href="#legal"><h2>Rechtliches</h2></a>
    	<div id="legal" class="panel-collapse collapse">
            dsjhgfjdhg jdfhgjdfhgjdfhgjdfhj
    	</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel-heading header">
        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-1" href="#imp"><h2>Impressum</h2></a>
    	<div id="imp" class="panel-collapse collapse">
            Impressum

Die Gesellschaft xTG als Betreiberin des Marktplatzes repräsentiert eine Kooperation folgender Partner.
 
    	</div>
      </div>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-6">
      <div class="panel-heading header">
        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-1" href="#sec"><h2>Sicherheit</h2></a>
    	<div id="sec" class="panel-collapse collapse">
Sicherheit

Verhalten Sie sich bei äusserst attraktiven Angeboten vorsichtig. Wenn Sie nicht sicher sind, ob es sich beim Angebot um ein betrügerisches Inserat handelt, lassen Sie das Angebot von uns überprüfen indem Sie betrügerische Inserate melden

</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel-heading header">
        <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-1" href="#con"><h2>Partner</h2></a>
    	<div id="con" class="panel-collapse collapse">
Partner werden

xTG bietet eine offene Schnittstelle für Partner.
    	</div>
      </div>
    </div>
  </div>
  <br>
</div>