<div class="container-fluid">
	<div class="row">
    <div class="col-md-12">
      <div class="panel-heading header">
        <li_header>
		    <% if user_signed_in? %>
		        <%= link_to searches_path :search_domain => "Spendeninitiativen", :controller_name => controller_name do %>
		          <i class="btn btn-primary glyphicon glyphicon-filter"></i>
		        <% end %>
		    <% end %>
         SPENDENINITIATIVEN
        <span class="badge"><%= @donanz %></span>
        </li_header>
      </div>
    </div>
  </div>

  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
        <div class="digg_pagination">
            <%= will_paginate @donations, :container => false, previous_label: "<", next_label: ">" %>
        </div>
      </div>
    </div>
  </div>

  <%= build_medialist("col-sm-6 col-md-4 col-lg-3", @donations, "donations", true) %>

</div>