<h1>Testing...</h1>
<p>Find me in app/views/stats/workorder.html.erb</p>

<p id="notice"><%= notice %></p>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
                <%= content_tag :div, "", id: "reports_chart", data: {reports: @js}  %>
                <!--<%= content_tag :div, "", id: "lines", data: {lines: @js} %>-->
        </div>
        
    </div>
</div>
