<div class="container-fluid">
	<tkb>
	<div class="row">
		<div class='col-xs-12'>
			<div class="panel-body">
				<% @p = Company.where('partner=?',true) %>
				<% @p.each do |p| %>
					<% if p.name == "Thurgauer Kantonalbank" %>
							<%= showImage("Company", :small, p) %>
							<% @id = p.id %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
	</tkb>

	<advertise>
	<div class="row">
		<div class='col-xs-12'>
			<div class='panel-body'>
				<% @p = Company.find(@id) %>
				<% @p.partner_links.each do |pl| %>
				  <% if pl.link %>
        	      <%= link_to url_with_protocol(pl.link), :target => '_blank' do %>
        	      	<% if pl.avatar %>
						<%= image_tag pl.avatar(:medium), class:'img-rounded' %>
					<% end %>
				  <% end %>
				  <% end %>
                <% end %>
			</div>
		</div>
	</div>
	</advertise>

</div>


<script>
$(document).ready(function(){
  $("tkb").mouseenter(function() {
    $("advertise").show();
  });
})
$(document).ready(function(){
  $("advertise").mouseleave(function() {
    $("advertise").hide();
  });
})
</script>